.community h3
{
	font-size: 14px;
	font-weight: bolder;
}
.community h1
{
	color: #F27A5E;
	    letter-spacing: 2px;
	font-weight: 900;
	font-family: 'Montserrat';
	text-align: center;
 	font-size: 40px;

}
.community
{
	margin-top: 3rem;
}
.community p
{
	color: #999997!important;
	font-weight: normal;
	font-size: 12px;
}
.community .column
{
	padding: 20px;
	
}
.community .row
{
	margin-top: 20px;
}



.inside
{
	border: 2px solid #eee;
	border-radius: 8px;
}


.interact h4
{
	margin-top: 50px;
	text-align: center;
	font-family: 'Montserrat';
	font-size: 22px;
	font-weight: 800;
}
.interactImage
{
	border-radius: 70px;
	margin-bottom: 10px;
}