.successStories h1
{
	color: #F27A5E;
	    letter-spacing: 2px;
	font-weight: 800;
	font-family: 'Montserrat';
	text-align: center;
 	font-size: 40px;
}
.successStories
{
	margin-top: 3rem;
}
.storyCards .card-title
{
	font-weight: bolder;
	font-size: 13px;
	text-align: left;
}
.storyCards .card-text
{
	font-weight: normal;
	font-size: 13px;
	color: #577083;
	text-align: left;
}
.storyCards
{
	margin-top: 50px;
}
.storyCards a
{
	background-color: rgba(116, 59, 224, 1);
	color: white;
	border-radius: 20px;
	font-weight: bold;
}
.storyCards a:hover
{
	background-color: rgba(116, 59, 224, 1);
	color: white;
	border-radius: 20px;
	font-weight: bold;
	font-size: 14px;
}
.successColumn
{
	margin-bottom: 20px;
}