.workshopHeader .row {
	padding: 50px !important;
	margin: auto;
}

.workshopName {
	font-size: 22px;
	color: white;
	font-weight: bolder;
}
.workshopShortDescription {
	margin-top: 30px;
	font-size: 14px;
	color: white;
	font-weight: bolder;
}